http://localhost {
    route {
        auth_portal {
            path /auth
            backends {
                oidc keycloak {
                    realm master
                    client_id caddy-client
                    client_secret CHANGE_ME
                    discovery_url http://keycloak:8080/realms/master/.well-known/openid-configuration
                    scopes openid email profile
                }
            }
        }

        jwt {
            primary yes
            trusted_tokens {
                static_secret {
                    token_name access_token
                    token_secret something-super-secret
                }
            }
            auth_url /auth
        }

        route /alice* {
            authorize {
                match preferred_username alice
            }
            reverse_proxy alice-app:80
        }

        route /bob* {
            authorize {
                match preferred_username bob
            }
            reverse_proxy bob-app:80
        }

        respond "Access Denied" 403
    }
}
